@using API.Controllers
@using CAPA_NEGOCIO.Security
@using DataBaseModel
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] SNI ADMIN</title>
    <link rel="stylesheet" href="~/css/AdminTemplate.css" />
    <script type="module">
        import { WSecurity } from "../WDevCore/WModules/WSecurity.js";
        const logout = () => {
            WSecurity.LogOut();
        }
        window.addEventListener("load", () => {
            //active nav
            if (location.href.includes("Datos_ConfiguracionView")) {
                Datos_ConfiguracionView.className = "active";
            } else if (location.href.includes("Transaction_Valoraciones_View")) {
                Transaction_Valoraciones_View.className = "active";
            } else if (location.href.includes("Transaction_Contratos_InversionistasView")) {
                Transaction_Contratos_InversionistasView.className = "active";
            } else if (location.href.includes("Transaction_ContratosView")) {
                Transaction_ContratosView.className = "active";
            } else if (location.href.includes("Transaction_FacturasView")) {
                Transaction_FacturasView.className = "active";
            } else if (location.href.includes("Transaction_Ingresos_EgresosView")) {
                Transaction_Ingresos_EgresosView.className = "active";
            } else if (location.href.includes("Gestion_Clientes")) {
                Gestion_Clientes.className = "active";
            } else {
                Home.className = "active";
            }
            //logOut
            btnLogOut.onclick = logout;
        })
    </script>
</head>

<body id="AdminTemplate">
    <aside id="Aside">
        <nav>
            <div class="logo-container">
                <img src="@Config.PageConfig.MEDIA_IMG_PATH@Config.PageConfig.LOGO_PRINCIPAL">
            </div>
            <h3>TRANSACCIONES</h3>

            <a class="" id="Home" asp-area="" asp-page="/">HOME</a>
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_PRESTAMOS_Y_EMPEÑOS.ToString()))
            {
                <a class="title-collapse" id="PrestamosClientesMenu" onclick="changeActive(this)">PRESTAMOS Y EMPEÑOS</a>
                <div class="collapse">
                    <a class="" id="Transaction_Valoraciones_View" asp-area=""
                        asp-page="/PagesViews/Transaction_Valoraciones_View">VALORACIONES</a>
                    <a class="" id="Transaction_ContratosView" asp-area=""
                        asp-page="/PagesViews/Transaction_ContratosView">CONTRATOS</a>
                </div>

            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CONTRATOS.ToString()))
            {
                <a class="" id="Transaction_Contratos_InversionistasView" asp-area=""
                    asp-page="/PagesViews/Transaction_Contratos_InversionistasView">CONTRATOS INVERSIONISTAS</a>

            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_INGRESOS.ToString()))
            {
                <a class="" id="Transaction_FacturasView" asp-area=""
                    asp-page="/PagesViews/Transaction_FacturasView">FACTURAS</a>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_MOVIMIENTOS.ToString()))
            {
                <a class="" id="Transaction_Ingresos_EgresosView" asp-area=""
                    asp-page="/PagesViews/Transaction_Ingresos_EgresosView">EGRESOS/INGRESOS</a>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString()))
            {
                <a class="" id="Gestion_Clientes" asp-area="" asp-page="/PagesViews/Gestion_Clientes">Gestion de
                    clientes</a>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_SUCURSALES.ToString()))
            {
                <a class="title-collapse" id="SucursalesMenu" onclick="changeActive(this)"
                    href="#SucursalesConfig">CONFIGURACIÓN DE
                    SUCURSALES</a>
                <div class="collapse" id="SucursalesConfig">
                    <a class="" id="Datos_ConfiguracionView" asp-area=""
                        asp-page="/PagesViews/Datos_ConfiguracionView">CONFIGURACIONES</a>
                </div>

            }
        </nav>
    </aside>

    <header id="Header" class="admin-header">
        <div class="title-container">
            <label for="" class="title">@Config.PageConfig.TITULO</label>
            <label for="" class="sub-title">@Config.PageConfig.SUB_TITULO</label>
        </div>

        @if (SecurityController.IsAdmin())
        {
            <a href="~/Admin/Index">Admin Panel</a>
        }
        <a href="#" id="btnLogOut">Cerrar Sesión</a>
    </header>
    <div class="background"></div>

    <div id="MainContainer">
        <main role="main" id="Main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        const changeActive = (target) => {
            if (target.className.includes("active-title")) {
                target.className = target.className.replace("active-title", "")
                sessionStorage.removeItem("menu_active")
            }
            else {
                target.className = target.className + ' active-title';
                sessionStorage.setItem("menu_active", target.id);
            }

        }
        const menuActive = document.querySelector("#" + sessionStorage.getItem("menu_active"));
        if (menuActive) {
            changeActive(menuActive)
        }

    </script>
</body>

</html>
