@using API.Controllers
@using CAPA_DATOS.Security
@using DataBaseModel
@{
    string identify = Context.Session.GetString("seassonKey");
    var pageConfig = Config.pageConfig();

}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EMPRE S.A</title>
    <link rel="stylesheet" href="~/css/AdminTemplate.css" />
    <script>
        function displayNav() {
            Aside.className = Aside.className.includes("navActive") ? "" : "navActive";
        }
    </script>
    <script type="module">
        import { WSecurity } from "/WDevCore/Security/WSecurity.js";
        const logout = () => {
            WSecurity.LogOut();
        }
        window.addEventListener("load", () => {
            //active nav
            document.querySelectorAll(".menu-item").forEach(item => {
                if (location.href.includes(item.id)) {                   
                    item.className = "active";
                }
            })
            //logOut
            btnLogOut.onclick = logout;
        })
    </script>
</head>

<body id="AdminTemplate">
    <aside id="Aside">
        <nav>
            <img src="~/Media/Image/close.webp" class="navIcon" onclick="displayNav()">
            <div class="logo-container">
                <img src="@pageConfig.MEDIA_IMG_PATH@pageConfig.LOGO_PRINCIPAL">
            </div>
            <h3>TRANSACCIONES</h3>

            <a class="menu-item" id="Home" asp-area="" asp-page="/">HOME</a>
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_PRESTAMOS_Y_EMPEÑOS.ToString(), identify))
            {
                <a class="title-collapse" id="PrestamosClientesMenu" onclick="changeActive(this)">EMPEÑOS</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString(),
                   identify))

                    {
                        <a class="menu-item" id="Gestion_Clientes" asp-area="" asp-page="/PagesViews/Gestion_Clientes">Gestión
                            de
                            clientes</a>
                    }
                    <a class="menu-item" id="Transaction_Valoraciones_View" asp-area=""
                        asp-page="/PagesViews/Transaction_Valoraciones_View">VALORACIONES</a>
                    <a class="menu-item" id="Transaction_ContratosView" asp-area=""
                        asp-page="/PagesViews/Transaction_ContratosView">CONTRATOS</a>
                </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_PRESTAMOS_Y_EMPEÑOS.ToString(), identify))
            {
                <a class="title-collapse" id="GestionRecibosMenu" onclick="changeActive(this)">GESTIÓN DE RECIBOS</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString(),//TODO
                   identify))
                    {
                        <a class="menu-item" id="Gestion_Recibos" asp-area="" asp-page="/PagesViews/Gestion_Recibos">Nuevo
                            Recibo</a>
                        <a class="menu-item" id="Ver_Recibos" asp-area="" asp-page="/PagesViews/Ver_Recibos">Ver Recibos</a>
                    }
                </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_COMPRAS_Y_VENTAS.ToString(), identify))
            {
                <a class="title-collapse" id="GestionFacturaMenu" onclick="changeActive(this)">GESTIÓN DE FACTURACIÓN</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_COMPRAS_Y_VENTAS.ToString(),//TODO
                   identify))
                    {
                        <a class="menu-item" id="ComprasComponentView" asp-area="" asp-page="/Facturacion/ComprasComponentView">
                            Nueva Compra</a>
                        <a class="menu-item" id="ComprasManager" asp-area="" asp-page="/Facturacion/ComprasManager">
                            Ver Compras</a>
                        <a class="menu-item" id="" asp-area="" asp-page="/Facturacion/FacturasComponentView">
                            Nueva Factura</a>
                        <a class="menu-item" id="LotesManager" asp-area="" asp-page="/Facturacion/LotesManager">Ver
                            Existencias</a>                      
                      
                    }
                </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_MOVIMIENTOS.ToString(), identify))
            {
                <a class="title-collapse" id="GestionCuentasMenu" onclick="changeActive(this)">GESTIÓN DE CUENTAS</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString(),//TODO
                   identify))
                    {
                        <a class="menu-item" id="Gestion_CuentasView" asp-area=""
                            asp-page="/PagesViews/Gestion_CuentasView">Gestión de
                            Cuentas</a>
                        <a class="menu-item" id="Movimientos_CuentasView" asp-area=""
                            asp-page="/PagesViews/Movimientos_CuentasView">Movimientos</a>
                    }
                </div>
            }           
        </nav>
    </aside>

    <header id="Header" class="admin-header">
        <img src="~/Media/Image/navIcon.png" class="navIcon" onclick="displayNav()">
        <div class="title-container">
            <label for="" class="title">@pageConfig.TITULO</label>
            <label for="" class="sub-title">@pageConfig.SUB_TITULO</label>
        </div>

        @if (SecurityController.IsAdmin(identify))
        {
            <a href="~/Admin/Index">Admin Panel</a>
        }
        <a href="#" id="btnLogOut">Cerrar Sesión</a>
    </header>
    <div class="background"></div>

    <div id="MainContainer">
        <main role="main" id="Main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        if (sessionStorage.getItem("menu_active") == null) {
            sessionStorage.setItem("menu_active", "PrestamosClientesMenu")
        }
        const changeActive = (target) => {
            if (target.className.includes("active-title")) {
                target.className = target.className.replace("active-title", "")
                sessionStorage.removeItem("menu_active")
            }
            else {
                target.className = target.className + ' active-title';
                sessionStorage.setItem("menu_active", target.id);
            }
        }
        const menuActive = document.querySelector("#" + sessionStorage.getItem("menu_active"));
        if (menuActive) {
            changeActive(menuActive)
        }
    </script>
</body>

</html>
