@using API.Controllers
@using CAPA_NEGOCIO.Security
@using DataBaseModel
@{
    string identify = Context.Session.GetString("seassonKey");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] EMPRE S.A</title>
    <link rel="stylesheet" href="~/css/AdminTemplate.css" />
    <script type="module">
        import { WSecurity } from "../WDevCore/WModules/WSecurity.js";
        const logout = () => {
            WSecurity.LogOut();
        }
        window.addEventListener("load", () => {
            //active nav
            if (location.href.includes("Datos_ConfiguracionView")) {
                Datos_ConfiguracionView.className = "active";
            } else if (location.href.includes("Transaction_Valoraciones_View")) {
                Transaction_Valoraciones_View.className = "active";
            } else if (location.href.includes("Transaction_Contratos_InversionistasView")) {
                Transaction_Contratos_InversionistasView.className = "active";
            } else if (location.href.includes("Transaction_ContratosView")) {
                Transaction_ContratosView.className = "active";
            } else if (location.href.includes("Transaction_FacturasView")) {
                Transaction_FacturasView.className = "active";
            } else if (location.href.includes("Movimientos_Cuentas")) {
                Movimientos_Cuentas.className = "active";
            } else if (location.href.includes("Gestion_Clientes")) {
                Gestion_Clientes.className = "active";
            } else if (location.href.includes("Gestion_Inversionistas")) {
                Gestion_Inversionistas.className = "active";
            } else {
                Home.className = "active";
            }
            //logOut
            btnLogOut.onclick = logout;
        })
    </script>
</head>

<body id="AdminTemplate">
    <aside id="Aside">
        <nav>
            <div class="logo-container">
                <img src="@Config.PageConfig.MEDIA_IMG_PATH@Config.PageConfig.LOGO_PRINCIPAL">
            </div>
            <h3>TRANSACCIONES</h3>

            <a class="" id="Home" asp-area="" asp-page="/">HOME</a>
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_PRESTAMOS_Y_EMPEÑOS.ToString(), identify))
            {
                <a class="title-collapse" id="PrestamosClientesMenu" onclick="changeActive(this)">PRESTAMOS Y EMPEÑOS</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString(),
                   identify))

                    {
                        <a class="" id="Gestion_Clientes" asp-area="" asp-page="/PagesViews/Gestion_Clientes">Gestión de
                            clientes</a>
                    }
                    <a class="" id="Transaction_Valoraciones_View" asp-area=""
                        asp-page="/PagesViews/Transaction_Valoraciones_View">VALORACIONES</a>
                    <a class="" id="Transaction_ContratosView" asp-area="" asp-page="/PagesViews/Transaction_ContratosView">CONTRATOS</a>
                </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_PRESTAMOS_Y_EMPEÑOS.ToString(), identify))
            {
                <a class="title-collapse" id="PrestamosClientesMenu" onclick="changeActive(this)">GESTIÓN DE CUENTAS</a>
                <div class="collapse">
                    @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CLIENTES.ToString(),//TODO
                   identify))
                    {
                        <a class="" id="Movimientos_Cuentas" asp-area="" asp-page="/PagesViews/Movimientos_Cuentas">Movimientos a
                            Cuentas</a>
                    }                    
                </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_CONTRATOS.ToString(), identify))
            {
                <a class="title-collapse" id="GestionContratosMenu" onclick="changeActive(this)">GESTIÓN DE CONTRATOS</a>
                <div class="collapse">
                    <a class="" id="Transaction_Contratos_InversionistasView" asp-area=""
                        asp-page="/PagesViews/Transaction_Contratos_InversionistasView">PRESTAMOS DE PERSONAS NATURALES</a>
                    <a class="" id="Gestion_Inversionistas" asp-area=""
                        asp-page="/PagesViews/Gestion_Inversionistas">GESTIÓN DE PERSONAS NATURALES</a>
                </div>
            }
            @* @if (SecurityController.HavePermission(PermissionsEnum.GESTION_INGRESOS.ToString(),
            identify))
            {
            <a class="title-collapse" id="GestionIngresosMenu" onclick="changeActive(this)">GESTIÓN DE CONTRATOS</a>
            <div class="collapse">
            <a class="" id="Transaction_FacturasView" asp-area=""
            asp-page="/PagesViews/Transaction_FacturasView">FACTURAS</a>
            </div>
            } *@
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_MOVIMIENTOS.ToString(),   identify))
            {
                <a class="title-collapse" id="GestionMovimientosMenu" onclick="changeActive(this)">GESTIÓN DE
                    MOVIMIENTOS</a>
                 <div class="collapse">
            <a class="" id="Transaction_Ingresos_EgresosView" asp-area=""
            asp-page="/PagesViews/Transaction_Ingresos_EgresosView">EGRESOS/INGRESOS</a>
            </div>
            }
            @if (SecurityController.HavePermission(PermissionsEnum.GESTION_SUCURSALES.ToString(),  identify))
            {
                <a class="title-collapse" id="SucursalesMenu" onclick="changeActive(this)"
                    href="#SucursalesConfig">CONFIGURACIÓN DE
                    SUCURSALES</a>
                <div class="collapse" id="SucursalesConfig">
                    <a class="" id="Datos_ConfiguracionView" asp-area=""
                        asp-page="/PagesViews/Datos_ConfiguracionView">CONFIGURACIONES</a>
                </div>
            }
        </nav>
    </aside>

    <header id="Header" class="admin-header">
        <div class="title-container">
            <label for="" class="title">@Config.PageConfig.TITULO</label>
            <label for="" class="sub-title">@Config.PageConfig.SUB_TITULO</label>
        </div>

        @if (SecurityController.IsAdmin(identify))
        {
            <a href="~/Admin/Index">Admin Panel</a>
        }
        <a href="#" id="btnLogOut">Cerrar Sesión</a>
    </header>
    <div class="background"></div>

    <div id="MainContainer">
        <main role="main" id="Main">
            @RenderBody()
        </main>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
    <script>
        if (sessionStorage.getItem("menu_active") == null) {
            sessionStorage.setItem("menu_active", "PrestamosClientesMenu")
        }
        const changeActive = (target) => {
            if (target.className.includes("active-title")) {
                target.className = target.className.replace("active-title", "")
                sessionStorage.removeItem("menu_active")
            }
            else {
                target.className = target.className + ' active-title';
                sessionStorage.setItem("menu_active", target.id);
            }

        }
        const menuActive = document.querySelector("#" + sessionStorage.getItem("menu_active"));
        if (menuActive) {
            changeActive(menuActive)
        }

    </script>
</body>

</html>
